/* RESET*/
*body{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

/*FLEX*/
.d-flex{
  display: flex;
}
#d-flex{
  display: flex;
}

.j{
  justify-content: flex-end;
}
#j{
  justify-content: flex-end;
}

.a{
  align-items: center;
}
#a{
  align-items: center;
}

/*STRUTTURA*/

.container{
  max-width: 1300px;
  height: 765px;
  background-color: aqua;
  margin: auto;
  margin-top: 2rem;
  border: 3px solid #dcdcdc;
}

.col-l{
  width: 30%;
  height: 100%;
  background-color: blueviolet;
  border-right: 1px solid #d6d6d6;
}

.col-r{
  width: 70%;
  height: 100%;
  background-color: rgb(162, 72, 246);
}

/*head*/
.head-l{
  width: 100%;
  height: 70px;
  background-color: #eaeaea;
}

.head-r{
  width: 100%;
  height: 70px;
  background-color: #eaeaea;
}

#h-icon{
  width: 80%;
  background-color: #a4a4a4;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.name-h{
  width: 72%;
  background-color: #8edafc;
}

.icon-h{
  width: 20%;
  background-color: #ff1313;
}

.photo-h{
  width: 8%;
}


/* notifiche */
.notifiche{
  width: 100%;
  height: 80px;
  background-color: #8edafc;
}

#campa{
  width: 20%;
  background-color: #d6d6d6;
}

#campa-r{
  width: 80%;
}

/*cerca*/
.cerca{
  width: 100%;
  height: 50px;
  background-color: #ffffff;
}

/* contatti */
.contact{
  width: 100%;
  height: 565px;
  background-color: #fafafa;
  overflow: auto;
}

.c-l{
  width: 98%;
}

.c-r{
  width: 2%;
}

.name{
  width: 100%;
  height: 79px;
  background-color: #ffffff;
  border: 1px solid #f5f5f5;
  -webkit-box-sizing: border-box;
}

/*nomi*/
#photo{
width: 20%;
height: 100%;
background-color: #ff1313;
}

#name-text{
  width: 60%;
  height: 100%;
}

#time{
  width: 20%;
  height: 100%;
  background-color: #e6e6e6;
}

.text{
  background-image: url(../asset/img/mine.jpg);
  background-repeat: repeat;
  width: 100%;
  height: 625px;
}

/* FOOT*/
.foot-head{
  width: 100%;
  height: 70px;
  background-color: #eaeaea;
}

/*scrittura*/
.f-l{
  background-color: #a4a4a4;
  width: 10%;
}

.f-c{
  background-color: #7c7c7c;
  width: 80%;
}

.f-r{
  background-color: #a4a4a4;
  width: 10%;
}